{% extends 'base.html' %}

{% block content %}
    {% if names %}
        <h1>Hello {{ names }}</h1>
        <img src="{{url_for('static', filename='image/WIN_20220804_16_50_59_Pro.jpg')}}">
       
        <h2 id="demo">Soy un alumno que está en la Nube</h2>

    {% else %}
        <h1>What's your name?!</h1>
        <br/>
        <form action="POST">
            {{ form.hidden_tag() }}
            {{ form.name.label(class="form-label")}}
            {{ form.name(class="form-control")}}
            <br/>
            {{ form.submit(class="btn btn-secondary") }}
        </form>
    {% endif %}
    <script src="{{url_for('static', filename='js/myfile.js')}}"></script>
{% endblock %}


