{% extends 'base.html' %}
{% block content %}

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
     
      {% for user in users %}
      <tr>
        <th scope="row">{{loop.index}}</th>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td class="d-flex">
            <a href="{{url_for('edit',id=user.id)}}" type="button" class="btn btn-primary">Editar</a>
            <form method="post" action="{{url_for('delete',id=user.id)}}"  >
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </td>
      </tr>
      {% endfor %} 
    </tbody>
  </table>
  
{% endblock %}